.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  height: 3rem;
  width: 100vw;
}

.header nav {
  height: 100%;

  display: grid;
  grid-template: 'a b c' 1fr / auto auto 1fr;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
